
/*-- scss:defaults --*/
// Base document colors
$body-bg: #EAE9EA;
$body-color: #172a3a;
$link-color: #74a08a;
$link-hl: #8a74a0;

$font-family-sans-serif: "Roboto",-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;

// Code blocks
$code-block-bg-alpha: -.8;

$navbar-bg: #EAE9EA;
$navbar-fg: #74a08a;
$navbar-hl: #8a74a0;