@import"https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900";

/*-- scss:defaults --*/

$primary-color: #5480a7;
$blue: #5480a7;
$primary-color-dark: #131D26;
$secondary-color: #56A754;
$tertiary-color: #A77B54;
$link-color: $primary-color;
$body-bg: #f2f6f9;
$body-color: $primary-color-dark;
$footer-bg: $primary-color;
$footer-fg: white;
$navbar-bg: $body-bg;
$navbar-fg: $primary-color;
$navbar-hl: $secondary-color;
$dropdown-link-color: $primary-color;
$navbar-font-family: "Raleway";
$headings-font-family: "Raleway";
$headings-color: $primary-color-dark;
$font-family-base: "Raleway";
$code-block-bg: white;
$code-block-border: false;
$code-block-border-right: $navbar-bg !important;
$code-block-border-radius: 5px;
$code-color: black;
$code-bg: $code-block-bg;
$code-border-radius: 25px; 
$tabset-border-color: $navbar-bg;
$border-color: $navbar-bg;
$link-color: $primary-color;
$link-hover-color: $secondary-color;
$pagination-active-bg: $primary-color;
$pagination-active-border-color: $primary-color;



/*-- scss:rules --*/

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 800;
}

#title-block-header {
  margin-block-end: 0rem;
}

div.quarto-about-trestles .about-entity .about-link {
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: solid 1.5px;
    border-color: $primary-color;
}

div.quarto-about-trestles .about-entity .about-link:hover {
    background-color: $secondary-color;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: solid 1.5px;
    border-color: $secondary-color;
}

a {
  text-decoration: none;
}

/* navbar */

.nav-link {
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: $secondary-color;
}

.nav-link.active {
    color: $secondary-color !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

hr {
  margin: 0rem 0;
}

/* Link buttons */

.icon-link {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 5px; /* Rounded edges */
}

.icon-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.icon-link-details {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 5px; /* Rounded edges */
}

.icon-link-details:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.panel-tabset [role="tablist"] {
  border-bottom: 5px solid $tabset-border-color;
  list-style: none;
  margin: 0;
  padding-bottom: 5px;
  width: 100%;
}

.panel-tabset [role="tab"] {
  border: 1px solid $tabset-border-color;
  border-top-color: $tabset-border-color;
  display: block;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 0.75em;
  border-radius: 10px;
  background-color: #ffffff;
  color: $navbar-bg;
  margin: 2px;
}

.panel-tabset [role="tab"][aria-selected="true"] {
  background-color: $navbar-bg;
  color: $body-bg;
}

details > summary {
  color: $navbar-bg;
  font-size: 1em;
  border-radius: 20px;
  background-color: $code-bg;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: $font-family-monospace;
}

/* gets rid of the border and reduces padding in tables */
thead, tbody, tfoot, tr, td, th {
    border-style: none;
    padding-bottom: 2px !important;
}

/* changes border color of note callout */
div.callout-note.callout {
    border-left-color: $navbar-bg;
}

/* changes header background of note callout */
div.callout-note.callout-style-default>.callout-header {
    background-color: $code-bg;
    color: $navbar-bg;
}

/* makes the font size for the subheadings in the TOC a little smaller */
.sidebar nav[role=doc-toc] ul>li>ul>li{
		font-size: 0.85em;
}

/* Margin text (aside) */

aside, .column-margin {
    color: $tertiary-color;
    font-size: .825rem;
}

/* Buttons on projects page */

.btn-primary {
    background-color: $primary-color;
    color: #FFFFFF;
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 5px; /* Rounded edges */
    border: 0px;
}

.btn-primary:hover {
    background-color: $secondary-color;
    color: #FFFFFF;
}

blockquote {
    border-left: 0.25rem solid $tertiary-color;
}

blockquote p {
    padding: 3px 3px 3px 3px;
    margin: 0 2px 0 2px;
    border-radius: 5px; /* Rounded edges */
    padding-left: 2em;
    font-style: italic;
    color: $tertiary-color;
}

pre {
    border-radius: 5px;
    color: #fff;
    background-color: #2c3f51;
    padding: 5px 5px 5px 18px;
}

/* For floating images - see lab page, for example */

.float-left img {
    float:left;
    padding: 5px 10px 5px 0px;
}

.float-right img {
    float:right;
    padding: 5px 0px 5px 10px;
}
